@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'sans-serif';
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  background: #058283;
  border-color: #058283;
  padding: 9px 25px;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.btn:hover {
  background: #00a6a6;
  border-color: #058283;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  color: #ffffff;
}

.btn-outline {
  background: transparent;
  margin-left: 24px;
}

.loading {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.loading .bg {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading .bg .load_text {
  color: #ffffff;
}

.loading .bg .load_text span {
  font-size: 40px;
  font-weight: 700;
}

.home_section {
  width: 100%;
  min-height: 100vh;
  background: url("/assets/images/Home/home_bg1.jpg") no-repeat top right;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 70px 25px;
}

.home_section .home_content {
  padding: 48px 0;
}

.home_section .home_content .logo {
  padding: 0;
  font-weight: 700;
  font-size: 33px;
  text-transform: uppercase;
  text-align: center;
}

.home_section .home_content .logo .logo1 {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00a6a6;
  font-family: 'Montserrat';
  letter-spacing: 5px;
}

.home_section .home_content .logo .logo1 .logo_after {
  display: block;
  position: absolute;
  top: -10px;
  left: -31px;
  width: 65%;
  height: 150%;
  background: #00a6a6;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  opacity: 0.15;
}

.home_section .home_content .logo .logo1 .logo2 {
  color: #c0c3d0;
  margin-left: 12px;
}

.home_section .home_content .title {
  font-size: 64px;
  font-weight: 900;
  color: #ffffff;
  margin: 32px 0 48px;
}

.home_section .home_content .badge {
  display: inline-block;
  font-size: 17px;
  color: #00a6a6;
  font-weight: 500;
  margin: 0 10px 13px 0;
  padding: 10px;
  background: rgba(5, 130, 131, 0.15);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.home_section .home_content .badge:hover {
  background: #00a6a6;
  color: white;
}

.func {
  position: relative;
  z-index: 99;
}

.func .func_before {
  position: absolute;
  background: rgba(5, 130, 131, 0.5);
  border-radius: 4px;
  width: 100%;
  height: 35%;
  top: 50%;
  z-index: -22;
}

.buttons {
  margin-top: 48px;
}

.bullets {
  position: absolute;
  width: 150px;
  height: 60px;
  background: url("/assets//images/Home/bullets.png") no-repeat;
  background-size: cover;
  bottom: -30px;
  opacity: 0.25;
  z-index: 1000;
}

.home-demos {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #19191f;
}

.home-demos__container {
  max-width: 1440px;
  padding: 0 15px;
}

.home-demos__container h2 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 900;
  margin-top: 24px;
}

.home-demos__container p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #c0c3d0;
  margin-top: 24px;
  margin-bottom: 48px;
}

.card-wrapper {
  padding: 0 7.5px;
}

.demos-card {
  position: relative;
  min-height: 385px;
  margin-bottom: 30px;
  overflow: hidden;
  border: none;
  border-radius: 13px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.demos-card img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.demos-card::before {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #058283;
  opacity: 0.75;
  z-index: 99;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.demos-card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.demos-card:hover::before {
  display: block;
}

.demos-card .card-info {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: 0;
  padding-bottom: 40px;
  z-index: 100;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.demos-card .card-info .card-info__title {
  font-weight: 700;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 24px;
}

.demos-card .card-info .card-info__link {
  display: block;
  width: 75%;
  padding: 8px 36px;
  background-color: rgba(33, 51, 62, 0.5);
  margin-bottom: 15px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
}

.demos-card .card-info .card-info__link:hover {
  background-color: #00a6a6;
  -webkit-transition: all 0.25 ease;
  transition: all 0.25 ease;
}

.demos-card:hover .card-info {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.built-smallest {
  background-color: #111117;
}

.built-smallest .built-smallest__container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.built-smallest .built-smallest__container .built-text {
  font-size: 15px;
  text-transform: uppercase;
  color: #00a6a6;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.built-smallest .built-smallest__container h2 {
  margin-bottom: 48px;
}

.built-smallest .built-smallest__container .built-card {
  background-color: transparent;
  position: relative;
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 30px;
}

.built-smallest .built-smallest__container .built-card img {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border: none;
}

.built-smallest .built-smallest__container .built-card::before {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #058283;
  opacity: 0.75;
  border-radius: 13px;
  z-index: 99;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.built-smallest .built-smallest__container .built-card:hover::before {
  display: block;
}

.built-smallest .built-smallest__container .built-card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.built-smallest .built-smallest__container .built-card:hover .card-bottom {
  background-color: #00a6a6;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.built-smallest .built-smallest__container .built-card:hover .card-bottom h4 {
  z-index: 100;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.built-smallest .built-smallest__container .built-card:hover .built-arrow {
  display: block;
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

.built-smallest .built-smallest__container .built-card:hover .arrow-icon {
  display: block;
  top: 48px;
}

.built-smallest .built-smallest__container .built-card .built-arrow, .built-smallest .built-smallest__container .built-card .arrow-icon {
  display: none;
  position: absolute;
  top: 43px;
  right: 45px;
  z-index: 100;
  width: 35px;
  height: 35px;
  border-radius: 17px;
  color: #ffffff;
  font-weight: 900;
  font-size: 24px;
}

.built-smallest .built-smallest__container .built-card .card-bottom {
  background-color: #19191f;
}

.built-smallest .built-smallest__container .built-card .card-bottom h4 {
  font-size: 19.5px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.built-text {
  font-size: 15px;
  text-transform: uppercase;
  color: #00a6a6;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes pulse {
  0% {
    background-color: #058283;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 0;
    background-color: #00a6a6;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes pulse {
  0% {
    background-color: #058283;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 0;
    background-color: #00a6a6;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.get-started {
  padding-top: 130px;
  padding-bottom: 130px;
  background: url("../../assets/images/Home/home_bg2.jpg") left top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.get-started .get-started__info {
  max-width: 45%;
  margin: 24px 0;
}

.get-started .get-started__info .built-text {
  margin-bottom: 24px;
}

.get-started .get-started__info .info {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  margin: 24px 0;
}

@media (max-width: 992px) {
  .get-started {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .get-started .get-started__info {
    max-width: 55%;
  }
  .get-started .get-started__info .info {
    font-size: 56px;
  }
}

@media (max-width: 767.98px) {
  .get-started {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .get-started .get-started__info {
    max-width: 75%;
  }
  .get-started .get-started__info .built-text {
    margin-bottom: 24px;
  }
  .get-started .get-started__info .info {
    font-size: 48px;
  }
}

@media (max-width: 515px) {
  .get-started {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .get-started .get-started__info {
    max-width: 100%;
  }
  .get-started .get-started__info .built-text {
    margin-bottom: 24px;
  }
  .get-started .get-started__info .info {
    font-size: 56px;
  }
}

@media (max-width: 410px) {
  .get-started {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .get-started .get-started__info {
    max-width: 100%;
  }
  .get-started .get-started__info .info {
    font-size: 40px;
  }
  .get-started .get-started__info .buttons {
    margin-top: 30px;
  }
  .get-started .get-started__info .buttons .btn {
    display: block;
    width: 60%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */