@import url(d:\Project\Nexgen\assets\splide-2.4.21\dist\css\themes\splide-sea-green.min.css);
@import url(d:\Project\Nexgen\assets\splide-2.4.21\dist\css\themes\splide-skyblue.min.css);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'sans-serif';
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.btn {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  background: #058283;
  border-color: #058283;
  padding: 9px 25px;
  white-space: nowrap;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.btn:hover {
  background: #00a6a6;
  border-color: #058283;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  border-color: #058283;
  color: #ffffff;
}

.btn-outline {
  background: transparent;
  margin-left: 24px;
}

.loading {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.loading .bg {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading .bg .load_text {
  color: #ffffff;
}

.loading .bg .load_text span {
  font-size: 40px;
  font-weight: 700;
}

.home_section {
  width: 100%;
  min-height: 100vh;
  background: url("/assets/images/Home/home_bg1.jpg") no-repeat top right;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 100px 25px;
}

.home_section .home_content {
  padding: 48px 0;
}

.home_section .home_content .logo {
  padding: 0;
  font-weight: 700;
  font-size: 33px;
  text-transform: uppercase;
  text-align: center;
}

.home_section .home_content .logo .logo1 {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00a6a6;
  font-family: "Montserrat";
  letter-spacing: 5px;
}

.home_section .home_content .logo .logo1 .logo_after {
  display: block;
  position: absolute;
  top: -10px;
  left: -31px;
  width: 65%;
  height: 150%;
  background: #00a6a6;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  opacity: 0.15;
}

.home_section .home_content .logo .logo1 .logo2 {
  color: #c0c3d0;
  margin-left: 12px;
}

.home_section .home_content .title {
  font-size: 64px;
  font-weight: 900;
  color: #ffffff;
  margin: 32px 0 48px;
}

.badge {
  display: inline-block;
  font-size: 17px;
  color: #00a6a6;
  font-weight: 500;
  margin: 0 10px 13px 0;
  padding: 10px;
  background: rgba(5, 130, 131, 0.15);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.badge:hover {
  background: #00a6a6;
  color: white;
}

.func {
  position: relative;
  z-index: 99;
}

.func .func_before {
  position: absolute;
  background: rgba(5, 130, 131, 0.5);
  border-radius: 4px;
  width: 100%;
  height: 35%;
  top: 50%;
  z-index: -22;
}

.buttons {
  margin-top: 48px;
}

.bullets {
  position: absolute;
  width: 150px;
  height: 60px;
  background: url("/assets/images/Home/bullets.png") no-repeat;
  background-size: cover;
  bottom: -30px;
  opacity: 0.25;
  z-index: 1000;
}

.home-demos {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #19191f;
}

.home-demos__container {
  max-width: 1440px;
  padding: 0 15px;
  overflow: hidden;
}

.home-demos__container h2 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 900;
  margin-top: 24px;
}

.home-demos__container p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #c0c3d0;
  margin-top: 24px;
  margin-bottom: 48px;
}

.card-wrapper {
  padding: 0 15px;
}

.demos-card {
  position: relative;
  min-height: 385px;
  margin-bottom: 30px;
  overflow: hidden;
  border: none;
  border-radius: 13px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.demos-card img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.demos-card::before {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #058283;
  opacity: 0.75;
  z-index: 99;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.demos-card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.demos-card:hover::before {
  display: block;
}

.demos-card .card-info {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: 0;
  padding-bottom: 40px;
  z-index: 100;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.demos-card .card-info .card-info__title {
  font-weight: 700;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 24px;
}

.demos-card .card-info .card-info__link {
  display: block;
  width: 75%;
  padding: 8px 36px;
  background-color: rgba(33, 51, 62, 0.5);
  margin-bottom: 15px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
}

.demos-card .card-info .card-info__link:hover {
  background-color: #00a6a6;
  -webkit-transition: all 0.25 ease;
  transition: all 0.25 ease;
}

.demos-card:hover .card-info {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.built-smallest {
  position: relative;
  background-color: #111117;
}

.built-smallest .built-smallest__container {
  padding-top: 130px;
  padding-bottom: 130px;
}

.built-smallest .built-smallest__container .built-text {
  font-size: 15px;
  text-transform: uppercase;
  color: #00a6a6;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.built-smallest .built-smallest__container h2 {
  margin-bottom: 48px;
}

.built-text {
  font-size: 15px;
  text-transform: uppercase;
  color: #00a6a6;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.built-card {
  background-color: transparent;
  position: relative;
  border-radius: 13px;
  overflow: hidden;
  margin-bottom: 30px;
}

.built-card img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border: none;
}

.built-card::before {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #058283;
  opacity: 0.75;
  border-radius: 13px;
  z-index: 99;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.built-card:hover::before {
  display: block;
}

.built-card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.built-card:hover .card-bottom {
  background-color: #00a6a6;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.built-card:hover .card-bottom h4 {
  z-index: 100;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.built-card:hover .built-arrow {
  display: block;
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}

.built-card:hover .arrow-icon {
  display: block;
  top: 48px;
}

.built-card .built-arrow,
.built-card .arrow-icon {
  display: none;
  position: absolute;
  top: 43px;
  right: 45px;
  z-index: 100;
  width: 35px;
  height: 35px;
  border-radius: 17px;
  color: #ffffff;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

.built-card .card-bottom {
  background-color: #19191f;
}

.built-card .card-bottom h4 {
  font-size: 19.5px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

@-webkit-keyframes pulse {
  0% {
    background-color: #058283;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 0;
    background-color: #00a6a6;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes pulse {
  0% {
    background-color: #058283;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 0;
    background-color: #00a6a6;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.get-started {
  padding-top: 130px;
  padding-bottom: 130px;
  background: url("../../assets/images/Home/home_bg2.jpg") left top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.get-started .get-started__info {
  max-width: 45%;
  margin: 24px 0;
}

.get-started .get-started__info .built-text {
  margin-bottom: 24px;
}

.get-started .get-started__info .info {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  margin: 24px 0;
}

@media (max-width: 992px) {
  .home_section .home_content .title {
    font-size: 56px;
    font-weight: 900;
  }
  .home_section .home_content .badges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .home-demos__container .demos-title h2 {
    font-size: 32px;
  }
  .get-started {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .get-started .get-started__info {
    max-width: 55%;
  }
  .get-started .get-started__info .info {
    font-size: 56px;
  }
}

@media (max-width: 767.98px) {
  .home_section .home_content {
    text-align: left;
  }
  .home_section .home_content .logo {
    padding-left: 27px;
  }
  .home_section .home_content .title {
    font-size: 48px;
    font-weight: 900;
  }
  .home_section .home_content .badges {
    display: inline-block;
    width: 100%;
  }
  .home-demos {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .home-demos .home-demos__container .demos-title h2 {
    font-size: 32px;
  }
  .built-smallest .built-smallest__container {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .built-smallest .built-smallest__container .demos-title h2 {
    font-size: 32px;
  }
  .get-started {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .get-started .get-started__info {
    max-width: 75%;
  }
  .get-started .get-started__info .built-text {
    margin-bottom: 24px;
  }
  .get-started .get-started__info .info {
    font-size: 48px;
  }
}

@media (max-width: 576px) {
  .home_section .home_content {
    text-align: left;
  }
  .home_section .home_content .logo {
    padding-left: 27px;
  }
  .home_section .home_content .title {
    font-size: 48px;
    font-weight: 900;
  }
  .home_section .home_content .badges {
    display: inline-block;
    width: 100%;
  }
  .home_section .home_content .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_section .home_content .buttons .btn {
    margin: 0 auto;
    display: block;
    min-width: 180px;
  }
  .home_section .home_content .buttons .btn-outline {
    margin: auto;
    margin-top: 16px;
  }
  .get-started {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .get-started .get-started__info {
    max-width: 100%;
  }
  .get-started .get-started__info .built-text {
    margin-bottom: 24px;
  }
  .get-started .get-started__info .info {
    font-size: 56px;
  }
}

@media (max-width: 410px) {
  .get-started {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .get-started .get-started__info {
    max-width: 100%;
  }
  .get-started .get-started__info .info {
    font-size: 40px;
  }
  .get-started .get-started__info .buttons {
    margin-top: 30px;
  }
  .get-started .get-started__info .buttons .btn {
    display: block;
    width: 60%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) {
  .home_section .home_content {
    text-align: left;
  }
  .home_section .home_content .logo {
    padding-left: 27px;
  }
  .home_section .home_content .title {
    font-size: 40px;
    font-weight: 900;
    text-align: left;
  }
  .home_section .home_content .badges {
    display: none;
  }
  .home_section .home_content .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_section .home_content .buttons .btn {
    margin: 0 auto;
  }
  .home_section .home_content .buttons .btn-outline {
    margin: auto;
    margin-top: 16px;
  }
  .get-started {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .get-started .get-started__info {
    max-width: 100%;
  }
  .get-started .get-started__info .built-text {
    margin-bottom: 24px;
  }
  .get-started .get-started__info .info {
    font-size: 56px;
  }
}

.navbar-fluid {
  background-color: #21333e;
}

.navbar-info {
  line-height: 50px;
  font-family: 'Monserrat', Arial, Helvetica, sans-serif;
}

.navbar-info .date-left {
  padding-right: 16px;
}

.navbar-info a {
  color: #c0c3d0;
  font-family: 'Monserrat', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 14.5px;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.navbar-info a:hover {
  color: #00a6a6;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.navbar-info .contact-right > a {
  padding: 0px 16px;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.navbar-info .contact-right > a:hover {
  color: #00a6a6;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.navbar-info .message span {
  padding: 0 16px;
  color: #c0c3d0;
  cursor: pointer;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.navbar-info .message span:hover {
  color: #00a6a6;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.navbar-info .message > span:last-child {
  padding-right: 0;
}

.wrapper {
  background: transparent;
  position: fixed;
  top: 50px;
  left: 0;
  min-width: 100%;
  z-index: 999;
  padding: 20px 0;
}

.wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .logo a {
  color: #fff;
  font-size: 19.2px;
  font-weight: 700;
  font-family: 'Monserrat', Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  line-height: 1;
}

.content .links li {
  list-style: none;
}

.content .links > li {
  position: relative;
}

.logo-befor {
  position: relative;
  display: inline-block;
  padding: 13px 2px 14px 27px;
}

.logo-befor .part1 {
  position: relative;
  left: 10px;
  color: #00a6a6;
}

.part2 {
  color: #c0c3d0;
}

.logo-befor::before {
  content: "";
  width: calc(100% + 7px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00a6a6;
  opacity: 0.15;
  border-radius: 100px 0 0 100px;
}

.content .links li a {
  display: block;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  padding: 9px 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content .links li label {
  display: none;
}

.content .links li a:hover,
.content .links li label:hover {
  color: #058283;
  font-weight: 500;
  background: rgba(5, 130, 131, 0.15);
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.wrapper .menu-icon {
  display: none;
}

.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links label {
  display: none;
}

.content .links ul {
  position: absolute;
  background: #ffffff;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  padding: 0;
}

.content .links li:hover > ul {
  top: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 12;
}

.content .links ul li a,
.content .links ul li ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 165px;
  line-height: 20px;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.content .links ul ul {
  position: absolute;
  top: 0;
  right: -100%;
}

.content .links ul li {
  position: relative;
}

.content .links ul li:hover ul {
  top: 0;
  left: 100%;
}

.content .links ul li ul li a,
.content .links ul li a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  color: #21333e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content .links ul li ul li a .badge,
.content .links ul li a .badge {
  padding: 3px 7px;
  display: inline-block;
  border-radius: 100px;
  background-color: rgba(5, 130, 131, 0.15);
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #058283;
  margin: 0;
}

.nav-contact {
  margin-left: 20px;
}

.nav-contact label + label, .nav-contact button {
  margin-left: 30px;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.nav-contact label:hover {
  color: #058283;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.search-content, .user-content {
  position: fixed;
  top: 0;
  right: -200%;
  height: 100vh;
  color: #000007;
  background: #ffffff;
  margin-left: 0;
  max-width: 500px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cancel__arrow {
  padding: 25px;
  color: #21333e;
  cursor: pointer;
}

.cancel__arrow i {
  font-size: 19px;
  font-weight: 900;
}

.search__form {
  padding: 25px 25px 75px;
}

.search__form h1 {
  font-size: 48px;
  color: #21333e;
  font-weight: 900;
  margin: 24px 0;
}

.search__form .badges .badge {
  margin: 0 10px 12.5px 0;
}

.search__form p {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.search__form p a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #058283;
  text-decoration: none;
}

.search__form input {
  width: 100%;
  height: 50px;
  background: no-repeat;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.075);
  border: none;
  border-radius: 4px;
  line-height: 1.2;
  color: var(--primary-t-color);
  margin-bottom: 20px;
}

.search__form input:focus {
  outline: none;
}

#show-search:checked ~ .search-content {
  right: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#show-user:checked ~ .user-content {
  right: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #21333e;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 9000;
}

/* Responsive code start */
@media screen and (max-width: 1198.98px) {
  .wrapper {
    top: 0;
    cursor: w-resize;
  }
  .wrapper .container-xl {
    padding-left: 25px;
    padding-right: 25px;
  }
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  .content .links label {
    display: block;
    font-size: 24px;
    font-weight: 700;
  }
  .content .links label:hover {
    font-weight: 700 !important;
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 500px;
    overflow-y: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .mobile__chevron {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #show-menu:checked ~ .content .links {
    right: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-home:checked ~ ul,
  .content .links #show-home-items:checked ~ ul,
  .content .links #show-home-items2:checked ~ ul,
  .content .links #show-pages:checked ~ ul,
  .content .links #show-about-items:checked ~ ul,
  .content .links #show-services-items:checked ~ ul,
  .content .links #show-contact-items:checked ~ ul,
  .content .links #show-blog:checked ~ ul,
  .content .links #show-blog-items:checked ~ ul,
  .content .links #show-services:checked ~ ul {
    max-height: 120vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media (min-width: 576px) {
  .search-content, .user-content, .list {
    width: 100%;
  }
}

.splide {
  position: relative;
}

.splide__slide {
  position: relative;
  height: calc(100vh - 50px);
  background-color: #19191f;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.splide__slide .splide__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splide__slide .splide__overlay .text {
  width: 60%;
  padding: 3rem 0;
  z-index: 333;
}

.splide__slide .splide__overlay .text h1 {
  font-size: 72px;
  font-weight: 900;
  color: #ffffff;
  padding: 0;
  margin: 24px 0;
}

.splide__slide .splide__overlay .text p {
  font-size: 19.2px;
  font-weight: 500;
  padding: 0;
  margin: 24px 0;
  color: #c0c3d0;
}

.splide__pagination {
  position: absolute;
  top: calc(50% - 50px);
  width: 150px;
  height: 30px;
  left: 92%;
  top: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.splide__pagination .splide__pagination__page {
  width: 30px;
  height: 9px;
  border-radius: 15px;
  background: transparent;
  border: 1px solid #058283;
  margin: 5px;
}

.splide__pagination .splide__pagination__page.is-active {
  background: #058283;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.splide__arrows {
  display: none;
}

.slide__three {
  width: 45% !important;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .text__three {
    width: 45% !important;
    margin-left: auto;
  }
}

@media (max-width: 1199.98px) {
  .splide__container {
    padding-left: 37px;
    padding-right: 37px;
  }
  .splide__pagination {
    left: 90%;
  }
  .text__two {
    width: 100%;
  }
  .text__three {
    width: 65%;
    margin-left: auto;
  }
}

@media (max-width: 992px) {
  .splide__slide {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .splide__pagination {
    left: 88%;
  }
  .text h1 {
    font-size: 56px !important;
  }
  .text__two {
    width: 100%;
  }
  .text__three {
    width: 65% !important;
    margin-left: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .splide__container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .splide__container .splide__overlay {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .splide__pagination {
    left: 84%;
  }
  .text h1 {
    font-size: 48px !important;
    text-align: left !important;
  }
  .text p {
    text-align: left;
  }
  .text .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
  }
  .text .buttons .btn {
    position: relative;
    min-width: 180px;
    font-size: 0.9rem;
  }
  .text .buttons .btn-outline {
    margin-left: 24px;
    margin-top: 0;
  }
  .text__three {
    width: 90% !important;
    margin-top: 0;
    text-align: left;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .splide__pagination {
    left: 78%;
  }
}

@media (max-width: 430px) {
  .splide__container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .splide__container .splide__overlay {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .splide__pagination {
    left: 74%;
  }
  .text {
    width: 90% !important;
  }
  .text h1 {
    font-size: 40px !important;
  }
  .text p {
    font-size: 16px !important;
    margin-bottom: 0 !important;
  }
  .text .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 24px;
  }
  .text .buttons .btn {
    position: relative;
    max-width: 180px;
    font-size: 0.9rem;
  }
  .text .buttons .btn-outline {
    margin-left: 0;
    margin-top: 24px;
  }
  .text__two {
    width: 90%;
  }
}

.video-section {
  padding-top: 130px;
  padding-bottom: 130px;
  width: 100%;
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.video-section .video-container .video__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
}

.video-section .video-container .video__content .video__img {
  opacity: 0.9;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
}

.video-section .video-container .video__content .video__img:hover {
  opacity: 0.85;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.video-section .video-container .video__content .video__img:hover ~ span {
  font-size: 6rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.video-section .video-container .video__content .video__icon {
  margin: 0;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
  position: absolute;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.75;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.video-section .video-container .video__content .video__icon:hover {
  font-size: 6rem;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.video-section .video-container .video__content .video__icon:hover ~ span {
  font-size: 6rem;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.video-section .video-container .video__content .video__icon:hover .video__img {
  opacity: 0.85;
}

.video-section .video-container .video__content .video__play__icon {
  top: 50%;
  left: 50%;
  color: #ffffff;
  z-index: 2;
  -webkit-transform: translate(-50%, -38%);
          transform: translate(-50%, -38%);
}

.video-section .video-container .video__content .video__play__opacity {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #00a6a6;
}

.video__title {
  text-align: center;
}

.video__title h2 {
  font-size: 48px;
  color: #21333e;
  font-weight: 900;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  margin: 1.5rem 0;
}

.video__title h2 .logo-befor {
  position: relative;
  display: inline-block;
}

.video__title h2 .logo-befor .part1 {
  position: relative;
  left: 0px;
  color: #00a6a6;
}

.video__title h2 .part2 {
  color: #c0c3d0;
}

.video__title h2 .logo-befor::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 13px;
  background-color: #00a6a6;
  opacity: 0.15;
  border-radius: 4px;
}

.video__title p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #606d75;
  margin-bottom: 48px;
}

@media (max-width: 991.98px) {
  .video-container {
    max-width: 970px;
  }
  .video__title h2 {
    font-size: 32px;
  }
}

@media (max-width: 767.98px) {
  .video-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.counter-section {
  position: relative;
  background: #111117;
  padding-top: 130px;
  padding-bottom: 130px;
}

.counter-section::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -20;
}

.counter-section video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: -21;
}

.counter-section .counter-container {
  z-index: 999;
}

.counter-section .counts {
  margin-top: 3rem;
}

.counter-section .counts .count {
  vertical-align: baseline;
}

.counter-section .counts .count span {
  font-size: 2.5rem;
  color: #00a6a6;
  font-weight: 700;
  line-height: 1.5;
  font-family: "Monserrat", Arial, Helvetica, sans-serif;
}

.counter-section .counts .count h3 {
  color: #f9f9f9;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}

@media (max-width: 767.98px) {
  .counter-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .counter-container .text-white {
    font-size: 32px;
  }
}

.sevices-section {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #000000;
  background-attachment: fixed;
}

.sevices-section .services-container .video__title {
  max-width: 100%;
  text-align: left;
}

.sevices-section .services-container .video__title h2 {
  color: #ffffff;
}

.sevices-section .services-container .video__title h2 span {
  color: #ffffff;
}

.sevices-section .services-container .video__title .p {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.sevices-section .services-container .video__title .p span {
  max-width: 75%;
  color: #c0c3d0;
}

.sevices-section .services-container .video__title .p button {
  margin-left: auto;
}

.sevices-section .services-container .built-card {
  position: relative;
  z-index: 1;
  max-width: 100%;
  padding: 45px;
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  background-color: rgba(255, 255, 255, 0.035);
}

.sevices-section .services-container .built-card:hover::before {
  background: transparent;
}

.sevices-section .services-container .built-card:hover {
  -webkit-transform: translateY(-7.5px);
          transform: translateY(-7.5px);
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.sevices-section .services-container .built-card:hover .services__content__icon {
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  color: #ffffff;
}

.sevices-section .services-container .built-card:hover p {
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  color: #ffffff;
}

.sevices-section .services-container .built-card .services-icon {
  top: 48px;
}

.sevices-section .services-container .built-card .services__content__icon {
  width: 44px;
  height: 44px;
  text-align: center;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  font-size: 44px;
  display: block;
  color: #058283;
}

.sevices-section .services-container .built-card h4 {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #f9f9f9;
}

.sevices-section .services-container .built-card p {
  margin: 0 0 10px;
  white-space: pre-wrap;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  font-size: 1rem;
  line-height: 1.5;
  color: #c0c3d0;
}

@media (max-width: 1198.98px) {
  .services-container {
    padding: 0 25px;
  }
}

@media (max-width: 767.98px) {
  .sevices-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .sevices-section .services-container .video__title {
    max-width: 100%;
    text-align: center;
  }
  .sevices-section .services-container .video__title h2 {
    font-size: 32px;
  }
  .sevices-section .services-container .video__title .p {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sevices-section .services-container .video__title .p span {
    display: block;
    max-width: 100%;
    color: #c0c3d0;
  }
  .sevices-section .services-container .video__title .p button {
    margin: 0 auto;
    margin-top: 28px;
  }
}
/*# sourceMappingURL=main.css.map */