*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', 'sans-serif';
  margin: 0;
  padding: 0;
}

html{
  box-sizing: inherit;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
}