@import "fonts";
@import "variables";
@import "global";
@import "mixin";
@import "../assets/splide-2.4.21/dist/css/themes/splide-sea-green.min.css";
@import "../assets/splide-2.4.21/dist/css/themes/splide-skyblue.min.css";
@import "Blocks/button";
@import "Blocks/loading";
@import "Blocks/home-section";
@import "Blocks/navbar";
@import "Blocks/carousel";
@import "Blocks/home-1";
@import "Blocks/home-2";

@import "responsive";