.btn{
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  background: #058283;
  border-color: $primary-color;
  padding: 9px 25px;
  transition: all .4s ease-out 0s;
  &:hover{
    background: $secondary-color;
    border-color: $primary-color;
    transition: all .4s ease-out 0s;
    color: $white-color;
  }
}
.btn-outline{
  background: transparent;
  margin-left: 24px;
}

