.section-carousel{
  height: 500px !important;
  .carousel{
    min-height: 100vh;
    .carousel-indicators{
      position: absolute;
      top: 25%;
      right: 0;
      transform: rotate(90deg);
      button.active{
        background-color: $primary-color;
      }
    }
  }
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 35px;
    height: 8px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-radius: 5px;
    border: 1px solid $primary-color;
    opacity: .5;
    transition: opacity .6s ease; 
  }
