.home_section{
  width: 100%;
  min-height: 100vh;
  background: url('/assets/images/Home/home_bg1.jpg') no-repeat top right;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 70px 25px;
  .home_content{
    padding: 48px 0;
    .logo {
      padding: 0;
      font-weight: 700;
      font-size: 33px;
      text-transform: uppercase;
      text-align: center;
      .logo1{
        position: relative;
        align-items: center;
        color: $secondary-color;
        font-family: 'Montserrat';
        letter-spacing: 5px;
        .logo_after{
          display: block;
          position: absolute;
          top: -10px;
          left: -31px;
          width: 65%;
          height: 150%;
          background: $secondary-color;
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
          opacity: 0.15;
        }
        .logo2{
          color: $secondary-p-color;
          margin-left: 12px;
        }
      }
    }
    .title{
      font-size: 64px;
      font-weight: 900;
      color: $white-color;
      margin: 32px 0 48px;
      .func{
        position: relative;
        z-index: 99;
        .func_before{
          position: absolute;
          background: rgba(5, 130, 131, 0.5);
          border-radius: 4px;
          width: 100%;
          height: 35%;
          top: 50%;
          z-index: -22;
        }
      }
    }
    .badge {
      display: inline-block;
      font-size: 17px;
      color: #00a6a6;
      font-weight: 500;
      margin: 0 10px 13px 0;
      padding: 10px;
      background: rgba(5, 130, 131, 0.15);
      transition: all 0.15s ease-in-out;
      &:hover {
        background: #00a6a6;
        color: white;
      }
    }
    .buttons{
      margin-top: 48px;
    }
    
  }
}
.bullets{
  position: absolute;
  width: 150px;
  height: 60px;
  background: url('/assets//images/Home/bullets.png') no-repeat;
  background-size: cover;
  bottom: -30px;
  opacity: 0.25;
  z-index: 1000;
}

// Home demos 

.home-demos {
  position: relative;
  @include section-padding;
  background-color: $section-1-bg-color;
}
.home-demos__container {
  max-width: 1440px;
  padding: 0 15px;
  h2{
    font-size: 48px;
    color: $white-color;
    font-weight: 900;
    margin-top: 24px;
  }
  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $secondary-p-color;
    margin-top: 24px;
    margin-bottom: 48px;
  }
}
.card-wrapper{
  padding: 0 7.5px;
}
.demos-card{
  position: relative;
  min-height: 385px;
  margin-bottom: 30px;
  overflow: hidden;
  border: none;
  border-radius: 13px;
  transition: .3s ease-in-out;
    img{
      flex-grow: 1;
      transition: .3s ease-in-out;
    }
    &::before{
      display: none;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $primary-color;
      opacity: 0.75;
      z-index: 99;
      transition: .3s ease-in-out;
    }
    &:hover img {
      transform: scale(1.1);
      transition: .3s ease-in-out;
    }
    &:hover::before{
      display: block;
    }
    .card-info{
      width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 0;
      bottom: 0;
      padding-bottom: 40px;
      z-index: 100;
      transform: translateY(100%);
      transition: all .3s ease;
      .card-info__title{
        font-weight: 700;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 24px;
      }
      .card-info__link{
        display: block;
        width: 75%;
        padding: 8px 36px;
        background-color: rgba(33, 51, 62, 0.5);
        margin-bottom: 15px;
        border-radius: 4px;
        color: $white-color;
        font-weight: 500;
        &:hover{
          background-color: $secondary-color;
          transition: all 0.25 ease;
        }
      }
    }
    &:hover .card-info{
      transition: all 0.25s ease-in-out;
      transform: translateY(0);
    }
  }

  // Built-Smallest section

  .built-smallest{
    background-color: $section-2-bg-color;
    .built-smallest__container{
      @include section-padding;
      .built-text{
        font-size: 15px;
        text-transform: uppercase;
        color: $secondary-color;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
      }
      h2{
        margin-bottom: 48px;
      }
      .built-card{
          background-color: transparent;
          position: relative;
          border-radius: 13px;
          overflow: hidden;
          margin-bottom: 30px;
        img{
          transition: .3s ease-in-out;
          border-top-left-radius: 13px;
          border-top-right-radius: 13px;
          border: none;
        }
        &::before{
          display: none;
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: $primary-color;
          opacity: 0.75;
          border-radius: 13px;
          z-index: 99;
          transition: .3s ease-in-out;
        }
        &:hover::before {
          display: block;
        }
        &:hover img{
          transform: scale(1.1);
          transition: .3s ease-in-out;
          filter: blur(2px);
        }
        &:hover .card-bottom{
          background-color: $secondary-color;
          transition: .3s ease-in-out;
        }
        &:hover .card-bottom h4{
          z-index: 100;
          transition: .3s ease-in-out;
        }
        &:hover .built-arrow{
          display: block;
          animation: pulse 1.5s infinite;
        }
        &:hover .arrow-icon {
          display: block;
          top: 48px;
        }
        .built-arrow, .arrow-icon{
          display: none;
            position: absolute;
            top: 43px;
            right: 45px;
            z-index: 100;
            width: 35px;
            height: 35px;
            border-radius: 17px;
          color: $white-color;
          font-weight: 900;
          font-size: 24px;
        }
        
        .card-bottom{
          background-color: $section-1-bg-color;
          h4{
            font-size: 19.5px;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            margin: 0;
          }
        }
      }
    }

  }

  
  @keyframes pulse {
      0%{
        background-color: #058283;
        transform: scale(0.8);

      }
      100%{
        opacity: 0;
        background-color: #00a6a6;
        transform: scale(1.4);
      }
    }