// Video section

.video-section {
  @include section-padding;
  background-color: $white-color;

  .video-container {

    // max-width: 970px;
    .video__content {
      position: relative;
      display: flex;
      justify-content: center;

      .video__img {
        // max-width: 900px;
        opacity: 0.9;
        cursor: pointer;
        transition: 0.5s;
        border-radius: 4px;

        &:hover {
          opacity: 0.85;
          transition: 0.5s;
        }

        &:hover~span {
          font-size: 6rem;
          transition: 0.5s;
          opacity: 1;
        }
      }

      .video__icon {
        margin: 0;
        font-size: 5rem;
        line-height: 5rem;
        font-weight: bold;
        position: absolute;
        color: $white-color;
        cursor: pointer;
        opacity: 0.75;
        transition: 0.5s;

        &:hover {
          font-size: 6rem;
          opacity: 1;
          transition: 0.5s;
        }

        &:hover~span {
          font-size: 6rem;
          opacity: 1;
          transition: 0.5s;
        }

        &:hover .video__img {
          opacity: 0.85;
        }
      }

      .video__play__icon {
        top: 50%;
        left: 50%;
        color: $white-color;
        z-index: 2;
        transform: translate(-50%, -38%);
      }

      .video__play__opacity {
        top: 50%;
        left: 50%;
        // transform: translateX(0%);
        // transform: translateY(-13%);
        transform: translate(-50%, -50%);
        color: $secondary-color;
      }
    }
  }
}

.video__title {
  text-align: center;

  h2 {
    font-size: 48px;
    color: $primary-t-color;
    font-weight: 900;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    padding: 0;
    line-height: 0.9;
    margin: 1.5rem 0;

    .logo-befor {
      position: relative;
      display: inline-block;

      .part1 {
        position: relative;
        left: 0px;
        color: $secondary-color;
      }
    }

    .part2 {
      color: $secondary-p-color;
    }

    .logo-befor::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 13px;
      background-color: $secondary-color;
      opacity: 0.15;
      border-radius: 4px;
    }
  }

  p {
    max-width: 800px;
    margin: 0 auto;
    font-size: $p-size;
    font-weight: $p-weight;
    line-height: 1;
    color: $primary-p-color;
    margin-bottom: 48px;
  }
}

// Responsive code

@media (max-width: 991.98px) {
  .video-container {
    max-width: 970px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .video__title {
    h2 {
      font-size: 32px;
    }
  }
}

@media (max-width: 767.98px) {
  .video-section {
    @include section-smaller-padding;
  }
}

// Video section end

// Counter section start

.counter-section {
  position: relative;
  @include section-padding;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -20;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: grayscale(1);
    z-index: -21;
  }

  .counter-container {
    z-index: 999;
  }

  .counts {
    margin-top: 3rem;

    .count {
      vertical-align: baseline;

      span {
        font-size: 2.5rem;
        color: $secondary-color;
        font-weight: 700;
        line-height: 1.5;
        font-family: "Monserrat", Arial, Helvetica, sans-serif;
      }

      h3 {
        color: $secondary-t-color;
        margin: 1.5rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .counter-section {
    @include section-smaller-padding;
  }

  .counter-container {
    .text-white {
      font-size: 32px;
    }
  }
}

// Counter section end

// Services section start

.sevices-section {
  @include section-padding;
  background-color: $section-3-bg-color;
  background-attachment: fixed;

  .services-container {
    .video__title {
      max-width: 100%;
      text-align: left;

      h2 {
        color: $white-color;

        span {
          color: $white-color;

        }
      }

      .p {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 48px;

        span {
          max-width: 75%;
          color: $secondary-p-color;
        }

        button {
          margin-left: auto;
        }
      }
    }

    .built-card {
      position: relative;
      z-index: 1;
      max-width: 100%;
      padding: 45px;
      border-radius: 10px;
      border: none;
      margin-bottom: 30px;
      transition: all .4s ease-out 0s;
      background-color: rgba(255, 255, 255, 0.035);

      &:hover::before {
        background: transparent;
      }

      &:hover {
        transform: translateY(-7.5px);
        transition: all .4s ease-out 0s;
      }

      &:hover .services__content__icon {
        transition: all .4s ease-out 0s;
        color: $white-color;
      }

      &:hover p {
        transition: all .4s ease-out 0s;
        color: $white-color;
      }

      .services-icon {
        top: 48px;
      }

      .services__content__icon {
        width: 44px;
        height: 44px;
        text-align: center;
        transition: all .4s ease-out 0s;
        font-size: 44px;
        display: block;
        color: $primary-color;
      }

      h4 {
        margin: 1.5rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
        color: $secondary-t-color;
      }

      p {
        margin: 0 0 10px;
        white-space: pre-wrap;
        transition: all .4s ease-out 0s;
        font-size: 1rem;
        line-height: 1.5;
        color: $secondary-p-color;
      }
    }
  }
}


@media (max-width: 1198.98px) {
  .services-container {
    padding: 0 25px;

  }
}

@media (max-width: 767.98px) {
  .sevices-section {
    @include section-smaller-padding;

    .services-container {
      .video__title {
        max-width: 100%;
        text-align: center;

        h2 {
          font-size: 32px;
        }

        .p {
          max-width: 100%;
          flex-direction: column;

          span {
            display: block;
            max-width: 100%;
            color: $secondary-p-color;
          }

          button {
            margin: 0 auto;
            margin-top: 28px;
          }
        }
      }
    }
  }
}

// Services section end

// Team section start

.team-section {
  @include section-padding;

  .video__title {
    color: $primary-t-color;

    .title {
      position: relative;
      left: -13px;
    }

    p {
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

}

.team_user_section>div:nth-child(1) {
  margin-top: 50px;
  margin-bottom: 50px;
}

.team_users {
  align-items: center;

  .team__user {
    // padding: 0;
    padding-right: 16px;
  }

  img {
    border-radius: 5px;
    width: 100%;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: $primary-t-color;
    margin: 0 0 10px;
  }

  p {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    white-space: pre-wrap;
    line-height: 1.5;
  }

  .contact {
    li {
      display: inline-block;

      a {
        span {
          width: 40px;
          height: 40px;
          margin-right: 5px;
          display: inline-block;
          background: $primary-bg-color-3;
          border-radius: 100px;
          text-align: center;
          line-height: 40px;
          font-size: 18px;
          color: $primary-color;
          transition: all .2s ease-out 0s;

          &:hover {
            background: $primary-color;
            color: $white-color;
            transition: all .2s ease-out 0s;
          }
        }
      }
    }
  }
}

.president__speech {
  position: relative;
  width: 100%;
  height: auto;
  padding: 35px;
  background-color: $primary-color;
  border-radius: 4px;
  color: $primary-bg-color-2;

  h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 24px;
    color: $white-color;
  }

  p {
    line-height: 1.5;
    opacity: 0.85;
    margin-bottom: 24px;
  }

  h5 {
    color: $white-color;
    opacity: 0.85;
    font-size: 1rem;
    margin-bottom: 0;
  }

  span {
    position: absolute;
    bottom: 35px;
    right: 50px;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 1198.98px) {
  .team-section {
    @include section-smaller-padding;

    .container-xl {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

@media (max-width: 767.98px) {
  .president__speech {
    margin-top: 70px;
  }
}

// Team section end

// News section start

.news-section {
  @include section-padding;
  background: $section-5-bg-color;

  .video__title {
    text-align: left;

    .p {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        color: $primary-p-color;
        max-width: 75%;
        font-size: 16px;
      }
    }
  }

  .glide__slide img {
    width: 100%;
  }

  .glide__slides {
    overflow: visible;
  }
}

.glide__slides {
  .glide__slide {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transition: all 0.4s ease-out 0s;
    &:hover .glide__img img{
      transform: scale(1.1);
      filter: blur(2px);
      transition: all 0.4s ease-out 0s;
    }
    &:hover .glide__date{
      transform: translateY(0);
      z-index: 4;
      transition: all 0.4s ease-out 0s;
    }
    &:hover .glide__content p{
      z-index: 4;
      transform: translateY(-50px);
      transition: all 0.4s ease-out 0s;
    }
    &:hover .glide__content h4{
      z-index: 9999;
      transform: translateY(-50px);
      transition: all 0.4s ease-out 0s;
    }
    .glide__img {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
      }
      img{
        max-width: 100%;
        transition: all 0.4s ease-out 0s;
      }
    }

    .glide__date {
      position: absolute;
      top: 0px;
      width: 100%;
      transform: translateY(-100px);
      margin: auto;
      padding: 50px 25px;
      transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      a{
        color: #f9f9f9;
        font-size: 16px;
        margin: 0 10px;
      }
    }

    .glide__content{
      position: absolute;
      z-index: 55;
      bottom: 0;
      padding: 50px 25px;
      color: #f9f9f9;
      h4{
        font-size: 24px;
        margin-bottom: 24px;
        font-weight: 700;
        line-height: 1.2;
        transition: all 0.4s ease-out 0s;
        color: #f9f9f9;
        z-index: 999;
      }
      p{
        position: absolute;
        bottom: 0;
        transform: translateY(100px);
        color: #f9f9f9;
        font-family: 'Monserrat', Arial, Helvetica, sans-serif;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
        line-height: 1.5;
        font-size: 17.8px;
        letter-spacing: 0.7px;
        font-family: "Monserrat", Arial, Helvetica, sans-serif;
        white-space: pre-wrap;
        margin: 0;
      }
    }
  }
}

@media (max-width: 1198.98px) {
  .news-section{
    .container-xl{
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

@media (max-width: 767.98px) {
  .news-section{
    @include section-smaller-padding;
    .video__title{
      text-align: center;
      .p{
        flex-direction: column;
        span{
          max-width: 100%;
        }
        .btn{
          margin-top: 24px;
        }
      }
    }
  }
}

// News section end

// Newsletter section start

.newsletter-section{
  @include section-padding;
  background: $section-6-bg-color;
  .newsletter__title{
    max-width: 485px;
    .video__title{
      text-align: left;
      .title{
        position: relative;
        left: -13px;
      }
      p{
        color: $secondary-p-color;
        margin-bottom: 0;
      }
    }
  }
  .form__content{
    max-width: 485px;
    input{
      width: 100%;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: none;
      padding: 1rem;
      // background-color: rgba(0, 0, 0, 0.075);
      border: none;
      border-radius: 4px;
      line-height: 1.2;
      margin: 10px 0;
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}

@media (max-width: 1198.98px) {
  .newsletter-section{
    .container-xl{
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}

@media (max-width: 767.98px) {
  .newsletter-section{
    @include section-smaller-padding;
    .newsletter__title{
      max-width: 100%;
      .video__title{
        p{
          margin-bottom: 48px;
        }
      }
    }
    .form__content{
      max-width: 100%;
    }
  }
}

  // Newsletter section end

  // Touch section start

  .touch-section{
    @include section-padding;
    background: $white-color;
    .contact-column-1{
      max-width: 780px;
      .video__title{
        text-align: left;
      }
      textarea{
        min-height: 152px;
      }
    }
    .contact-column-2{
      h4{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
        color: $primary-t-color;
        overflow-wrap: break-word;
        margin-bottom: 1.5rem;
      }
      p{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 1.5rem 0px;
        color: $primary-p-color;
      }
      .last-p{
        margin-bottom: 37px;
      }
      .contact-items{
        .contact-item{
          margin: 21px 0px;
          line-height: 1.5;
          a{
            font-size: 1.2rem;
            font-weight: 400;
            color: $primary-color;
            padding: 5px 0px;
            span{
              width: 45px;
              height: 45px;
              text-align: center;
              line-height: 45px;
              font-size: 20px;
              background: $primary-bg-color-3;
              border-radius: 100px;
              margin-right: 8px;
              color: $primary-color;
            }
          }
        }
        button{
          color: $primary-color;
          margin-left: 0;
          &:hover{
            color: $white-color;
          }
        }
      }
    }

  }

  .input{
    width: 100%;
    height: 50px;
    background: no-repeat;
    box-shadow: none;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.075);
    border: none;
    border-radius: 4px;
    line-height: 1.2;
    color: rgb(108, 117, 125);
    &:focus{
      outline: none;
    }
  }

  @media (min-width: 768px) {
    .contact-column-1{
      padding-right: 48px;
    }
  }

  @media (max-width: 1198.98px) {
    .touch-section{
      .container-xl{
        padding-right: 25px;
        padding-left: 25px;
      }
    }
  }

  @media (max-width: 767.98px) {
    .touch-section{
      @include section-smaller-padding;
      .contact-column-2{
        margin-top: 40px;
      }
    }
  }

  // Touch section end

  // Footer section start

  .footer-section{
    @include section-padding;
    max-width: 100%;
    background: url('../../assets/images/sections/Background/bg-7.jpg') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .container-xl {
      .logo-part{
        p{
          margin: 24px 0;
          line-height: 1.5;
          color: $secondary-p-color;
          font-family: "Montserrat", sans-serif;
        }
        ul{
          li{
            display: block;
            padding: 8px 0;
            a{
              font-size: 17px;
              font-weight: 300;
              line-height: 1.4;
              color: $secondary-p-color;
              &:hover{
                color: $primary-color;
              }
              span{
                margin-right: 8px;
              }
            }
          }
        }
        .btn{
          margin-left: 0;
        }
      }
      .footer_card{
        width: 100%;
        padding: 45px;
        border-radius: 10px;
        border: none;
        padding: 45px;
        transition: all .4s ease-out 0s;
        background-color: rgba(255, 255, 255, 0.035);
        &:hover{
          transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
          transform: translateY(-7.5px);
        }
        h4{
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.2;
          color: $white-color;
          margin-bottom: 24px;
        }
        ul{
          li{
            a{
              font-size: 17px;
              font-weight: 300;
              margin: 0 0 0.5rem;
              display: block;
              font-family: 'Montserrat', sans-serif;
              color: $secondary-p-color;
              &:hover{
                color: $primary-color;
              }
              span{
                margin-right: 2px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1198.98px) {
    .footer-section{
      .container-xl{
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

  @media (max-width: 991.98px){
    .footer-section{
      @include section-smaller-padding;
      .container-xl{
        .logo-part{
          text-align: center;
          margin-bottom: 50px;
        }
        .footer_card{
          text-align: center;
          margin-bottom: 30px;
          span{
            display: none;
          }
        }
      }
    }
  }

  // Footer section end